*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 0;
}

pre {
    font-family: monospace;
    padding: 15px;
    background-color: #f0f0f0;
    overflow: scroll;
}

h3 {
    font-size: medium;
}

#stream-timeline {
    height: 150px;
}

#all-streams-timeline {
    height: 280px;
    overflow-x: scroll;
}
